table {
  display: table;

  background-color: $bp-color-white;

  border-spacing: 0;
  border-collapse: collapse;

  thead tr {
    height: 8.1 * $m;
  }

  tbody tr {
    height: 4.7 * $m;

    &:nth-child(even) {
      background-color: $bp-color-white;
    }

    &:nth-child(odd) {
      background-color: #f5f8f9;
    }
  }

  // th, td {
  //   font-weight: $bp-fw-bold;

  //     padding-right: 4 * $m;
  //     padding-left: 4 * $m;

  //   @media only screen and (min-device-width: 2px) and (max-device-width: 2736px) {
  //     padding-right: 2 * $m;
  //     padding-left: 2 * $m;
  //   }

  //   @media only screen and (max-device-width: $bp-lisa) {
  //     padding-right: 1 * $m;
  //     padding-left: 1 * $m;
  //   }
  // }

  @media only screen and (min-width: 789px) {
    th,
    td {
      font-weight: $bp-fw-bold;
      padding-right: 0.8 * $m;
      padding-left: 0.8 * $m;
    }
  }
  @media only screen and (min-width: 790px) and (max-width: 989px) {
    th,
    td {
      padding-right: 1.2 * $m;
      padding-left: 1.2 * $m;
    }
  }
  @media only screen and (min-width: 990px) and (max-width: 1074px) {
    th,
    td {
      padding-right: 1.4 * $m;
      padding-left: 1.4 * $m;
    }
  }
  @media only screen and (min-width: 1075px) and (max-width: 1199px) {
    th,
    td {
      padding-right: 1.8 * $m;
      padding-left: 1.8 * $m;
    }
  }
  @media only screen and (min-width: 1199px) and (max-width: 1349px) {
    th,
    td {
      padding-right: 2.5 * $m;
      padding-left: 2.5 * $m;
    }
  }
  @media only screen and (min-width: 1350px) and (max-width: 1499px) {
    th,
    td {
      padding-right: 3 * $m;
      padding-left: 3 * $m;
    }
  }

  @media only screen and (min-width: 1500px) {
    th,
    td {
      padding-right: 3.7 * $m;
      padding-left: 3.7 * $m;
    }
  }
  .first-column-head {
    padding-right: 3 * $m;
    padding-left: 1 * $m;
    color: #738192;
  }
  .first-column-content {
    padding-right: 3 * $m;
    padding-left: 1.5 * $m;
  }

  td {
    p {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
  }

  th,
  td {
    font-size: $bp-fs-5;
    line-height: 100%;
  }
}
