<ul class="table-caption">
    <li class="table-caption-item">
        <UnsupportedSymbol/>
        <span>
             Indisponível
        </span>
    </li>
    <li class="table-caption-item">
        <SupportedSymbol/>
        <span>
            Disponível (clique no ícone para ver como funciona)
        </span>
    </li>
</ul>
<script>
import SupportedSymbol from '../ui/symbols/SupportedSymbol.html';
import UnsupportedSymbol from '../ui/symbols/UnsupportedSymbol.html';

export default {
    components: {
        UnsupportedSymbol,
        SupportedSymbol
    }
}
</script>